.btn {
  font-size: 1.2rem;
  padding: 15px;
  border: none;
  background-color: #e0e0e0;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #d0d0d0;
}
